# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
venv/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Node.js / Vite / React
node_modules/
dist/
.vite/
package-lock.json
npm-debug.log*
yarn.lock
.pnpm-debug.log
.DS_Store

# Output do build extra (caso use)
build/
